<html>
 <head>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
 </head>
 <body>
  <h1><%= title %> ページ </h1>
  <h2 class="navi"><a href="/">Home</a></h2>
  <h2 class="navi"><a href="/videos/new">新規アップロード</a></h2>
 <%- body %>
 </body>
</html>