<div class="post">
    <div class="columHead">■<%=reg.filename %></div>
    <div class="colum"><a href="/posts/<%=reg.id %>"><%=reg.file %></a></div>
    <div class="colum"><%=reg.create_at %></div>
</div>