<div class='post'> 
<h3 class="columHead"><%=post.filename %></h3>
 <div><%=post.create_at %></div>
 <div>
  <embed src="/uploads/videos/<%=post.file %>" height="50%" width="50%"  autoplay="false"/>
 </div> 
</div>