<form method="post" action="/videos"  enctype="multipart/form-data">
    <div class="post">
        <p>
            <span>ファイル名: </span>
            <input type="filename" name="filetitle" />
        </p>
        <p>
        <span>アップロードファイル: </span>
        <input type="file" name="file"/>
        </p>
        <p>
            <input type="submit" value="Upload" />
        </p>
</div>
</form>